<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Noto+Sans+TC:wght@400;500&family=Noto+Sans:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="./images/icon_16.ico?ver=20231009"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="icon"
      href="./images/icon_32.ico?ver=20231009"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="./images/icon_64.ico?ver=20231009"
      sizes="64x64"
      type="image/png"
    />
    <title>阿豆看小說</title>
    <link
      rel="stylesheet"
      href="./css/bootstrap-5.1.1-dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="./css/main.css" />
    <script src="./css/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script>
  </head>
  <body>
    <script src="./js/vue3/vue.global.prod.js"></script>
    <div id="app">
      <div class="content bg-dark">
        <section
          class="modal"
          id="links-window"
          :class="{'d-block':isBookmarkOpen}"
        >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header sticky-top bg-light">
                <h5 class="modal-title" id="exampleModalLabel">書籤列</h5>
                <button
                  type="button"
                  class="btn-close"
                  @click="toggleBookmarkWin(false)"
                ></button>
              </div>
              <div class="modal-body" id="linkContent">
                <ul>
                  <li v-for="(page, index) in pages" :key="index">
                    <a href="#" @click.privent="changePage(page.pageIndex)"
                      >{{page.pageTitle}}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  @click="toggleBookmarkWin(false)"
                >
                  Close
                </button>
              </div>
            </div>
          </div>
        </section>

        <section class="bg-dark" id="nav">
          <ul class="nav-container">
            <li class="nav-item">
              <label for="fileInput" class="btn btn-secondary">上傳小說</label>
              <input
                type="file"
                class="form-control d-none"
                id="fileInput"
                @change="readBook"
              />
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="btn btn-secondary mt-3"
                @click.privent="toggleBookmarkWin(true)"
              >
                開啟書籤
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="btn btn-secondary mt-3"
                @click.privent="updateOnePage(false)"
              >
                返回一頁
              </a>
            </li>
            <li class="nav-item">
              <a
                href="#"
                class="btn btn-secondary mt-3"
                @click.privent="updateOnePage(true)"
              >
                往下一頁
              </a>
            </li>
          </ul>
        </section>

        <section class="container pb-5">
          <div id="fileContents" class="pt-5" v-if="pages[currentPage]">
            <h2>{{pages[currentPage].pageTitle}}</h2>
            <p v-for="(line, index) in pages[currentPage].pageTxt" :key="index">
              {{line}}
            </p>
          </div>
        </section>
      </div>
    </div>

    <script src="./js/main.js"></script>
  </body>
</html>
